section.wrapper.style1.special#one
  .inner
    header.major
      h2!= intl.one.title
      p= intl.one.message 
    ul.icons.major
      li
        span.icon.fa-user.major.style1
          span.label= intl.one.icons['1']
      li
        span.icon.fa-heart-o.major.style2
          span.label= intl.one.icons['2']
      li
        span.icon.fa-code.major.style3
          span.label= intl.one.icons['3']
