- var icons = ['fa-lightbulb-o', 'fa-laptop', 'fa-code', 'fa-repeat', 'fa-paper-plane-o', 'fa-users']


section#three.wrapper.style3.special
  .inner
    header.major
      h2= intl.three.title
      p= intl.three.subtitle
    
    ul.features
      each icon, index in icons
        li.icon(class=`${icon}`)
          h3= intl.three.sections[index].title 
          p!= intl.three.sections[index].message 
