doctype html
html.no-js(lang=`${intl.language}`)
  head
    title= intl.title
    meta(charset="UTF-8")
    meta(name="author" content="Samuel Martineau")
    meta(name="description" content=`${intl.description}`)
    meta(name="keywords" content="frontend, web, developer")
    meta(property="og:type" content="website")
    meta(property="og:title" content=`${intl.title}`)
    meta(property="og:description" content=`${intl.description}`)
    meta(property="og:url" content=`${intl.url}`)
    meta(name="language" content=`${intl.readableLanguage}`)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#2e3842")

    link(rel="icon" href="/samuel_martineau.ico")
    link(rel="manifest" href="/manifest.json")
    link(href=`${intl.url}` rel="canonical")
    link(rel="preconnect" href="//maxcdn.bootstrapcdn.com" crossorigin)
    link(rel="preconnect" href="//fonts.googleapis.com" crossorigin)
    link(rel="preload" as="style" href!="//fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap" crossorigin)
    link(rel="preload" as="style" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" crossorigin)
    link(href!="//fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap" rel="stylesheet" crossorigin)
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"  crossorigin)
    link(rel="stylesheet" href="/style/app.min.css")
    link(rel="alternate" hreflang="en" href="https://samuelmartineau.com")
    link(rel="alternate" hreflang="fr" href="https://samuelmartineau.com/fr/")
    link(rel="alternate" hreflang="x-default" href="https://samuelmartineau.com")


  body.landing
  
    #page-wrapper

      include ./partials/banner.pug

      include ./partials/one.pug

      include ./partials/two.pug

      include ./partials/three.pug

      include ./partials/portfolio.pug

      include ./partials/cta.pug

      include ./partials/footer.pug

    script(type="application/ld+json").
      {
          "@context": "http://schema.org",
          "@type": "Person",
          "name": "Samuel Martineau",
          "url": "https://samuelmartineau.com",
          "jobTitle": "Software Engineer",
          "description": "#{intl.description}",
          "address":{  
              "@type":"PostalAddress",
              "addresslocality":"Paris, France"
          },
          "alumniOf": [
            {  
              "@context":"http://schema.org",
              "@type":"EducationalOrganization",
              "legalName":"UTC (Université de Technologie de Compiègne)",
              "award":"Ingénierie des Connaissances et des Supports d'Informations"
            },
            {  
              "@context":"http://schema.org",
              "@type":"EducationalOrganization",
              "legalName":"Université de Poitiers",
              "award":null
            }
          ],
          "gender": "male",
          "image": "https://samuelmartineau.com/images/samuelmartineau.jpg",
          "sameAs": [
            "http://fr.linkedin.com/pub/samuel-martineau/81/298/786",
            "https://twitter.com/marti_sami",
            "https://github.com/samuelmartineau",
            "http://stackoverflow.com/users/5198415/samuel-martineau",
            "http://codepen.io/samuelmartineau",
            "http://www.meetup.com/fr/members/182936637/"
          ]
      }
    script(src="/js/app.min.js")
    script !function(e,n,t,o,a,c,s){e.GoogleAnalyticsObject=a,e[a]=e[a]||function(){(e[a].q=e[a].q||[]).push(arguments)},e[a].l=1*new Date,c=n.createElement(t),s=n.getElementsByTagName(t)[0],c.async=1,c.src=o,s.parentNode.insertBefore(c,s)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-65391889-1","auto"),ga("send","pageview ");
